/*reset CSS*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

li{
    list-style-type: none;
}
li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

/*Header*/
header{
    background-color: cyan;
    color: black;
    height: 90px;
}

.header-logo{
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-nav li{
    float: left;
    padding: 35px 20px;
}

/* Main content*/
main{
    padding: 100px 80px;

}
.main-container h1{
    font-size: 95px;
}
.main-container span{
    color: red;
}
.main-container h2{
    font-size: 60px;
}

.contents{
    height: 500px;
    margin-top: 100px;
}
.contents h3{
    border-bottom: 2px solid grey;
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.contents-item{
    float: left;
    margin-right: 40px;
}

.contents-img.csa {
    background-color: cyan;
}
.contents-img.css{
    background-color: red;
}

.contents-img.gambar{
    background-color: orange;
}
.contents-img.html{
    background-color: black;
}

.contents-img img{
    width: 220px;
    height: 180px;
    padding: 0px;
}

.contents-item p{
    font-size: 24px;
    margin-top: 30px;
}

/*bagian Contact*/
.contact{
    padding-top: 100px;   
}
.contact h3{
    border-bottom: 2px solid grey;
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

input, textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #cecece;
}

.contact-submit{
    background-color: green;
    color: white;
    cursor: pointer;
}

.txt-red{
    color: red;
}

/*footer */
footer{
    background-color: blue;
    color: white;
    padding: 20px 40px;
    height: 30px;
}

.footer-logo{
    float: left;
    font-size: 30px;

}

.footer-nav{
    float: right;
}

.footer-nav li{
    padding: 10px 20px;
    float: left;
}